@charset "UTF-8";

body {
    margin: 0;
    overflow-x: hidden;
}

img {
    width: 265px;
    margin: 0;
}

a {
    display: block;
    background-color: brown;
    text-align: center;
    font: normal 1.1em Arial, Helvetica, sans-serif;
    color: white;
    line-height: 50px;
    padding: 0px;
    margin: -4px;
}

::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background-color: #a1a1a1;
}


::-webkit-scrollbar-thumb {
    background: #f1f1f1; 
    border-radius: 10px;
}
  
  