@charset "UTF-8";

#smartphone {
    background: url(../images/frame-iphone.png) center no-repeat;

    width: 311px;
    height: 627px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#smartphone iframe {
    position: absolute;
    top: 79px;
    left: 21px;
    width: 270px;
    height: 473px;
}

