@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
}

header {
    background-color: black;
    text-align: center;
    color: white;
    height: 15vw;
    padding: 40px;
}

header > h1 {
    font: normal small-caps 10vw 'Passion One', cursive;
}

header > author {
    font: normal 3vw Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

main > section > p {
    font: normal 4vw 'sriracha', cursive;
    margin: 50px;
    line-height: 2em;
}

main > section.background {
    box-shadow: inset 5px 3px 6px #00000047;
}

main > section.background > p {
    background-color: rgba(0, 0, 0, 0.418);
    
    display: inline-block;

    padding: 5px;

    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.404);
}

section#flower {
    background: white url('../images/background001.jpg') no-repeat fixed center;
    background-size: cover;
}

section#letters {
    background: url('../images/background002.jpg') no-repeat fixed center;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font: normal 1em Arial, Helvetica, sans-serif;
}