@charset "UTF-8";

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header #title {
    flex: 0 0 450px
}

nav {
    flex-direction: row !important;
    justify-content: flex-start !important;
}

nav a {
    border-right: 1px solid rgb(136, 136, 136);
    border: none;
    transition: background-color 400ms;
}

nav a:hover {
    background-color: rgb(68, 68, 68);
}

main section {
    width: 700px;
    margin: 20px auto;
}